<div class="project-summary col-sm-4">

  <div class = "panel panel-primary">
    <div class = "panel-heading">
      <h3 class = "panel-title" align="centre"> <%= project.title %> </h3>
    </div>

    <div class = "panel-body">
      <div><%= project.description %></div>
      <div><%= project.project_link %></div>
      <div><%= project.website_link %></div>
      <% if admin_signed_in?%>
          <%= link_to 'Show', project %>
          <%= link_to 'Edit', edit_project_path(project) %>
          <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
      <%end%>
    </div>
  </div>
</div>
