<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script>

    $(document).ready(function() {
      $('.nav').click( function() {
        $(this).addClass('active');
        alert("Hello friends");
        //$(this).addClass('active').siblings().removeClass('active');
      });
    })
  </script>

</head>
<body>

<%= render 'layouts/header' %>
<%= render 'layouts/flash' %>
<%= yield %>
</body>
</html>
